h1 {
    border: 1px solid black;
    background: blueviolet;
    background-size: 250px 120px;
    background-repeat: no-repeat;
    padding: 15px;
}
id  { (0, 1, 2, 3)   
    border: 1px solid black;
    background: blueviolet;
    background-size: 100px 80px;
    background-repeat: no-repeat;
    padding: 15px;
    justify-content: right;
}